/* Page */
.page {
  margin-top: 80px;
  margin-bottom: 80px;
  @media (max-width: $mobile) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.page__head {
  text-align: left;
}

.page__title {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 700;
}

.page-image {
  margin-bottom: 45px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $gray-white;
  box-shadow: 0 10px 20px -4px rgba(30,28,122,0.3);
  border: 20px solid $gray-white;
  &:after {
    content: '';
    display: table;
    padding-top: 65%;
  }
}

.page__content {
  margin-bottom: 60px;
  p {
    font-size: 20px;
    line-height: 1.6;
    color: $gray;
    font-family: $sans-serif;
    img {
      margin: 0 0 15px;
      box-shadow: 0 10px 20px -4px rgba(0, 0, 0, 1);
      // border: 20px solid $gray-white;
      width: 100%;
      border-radius: 8px;
    }
  }
  ul li,
  ol li {
    margin-bottom: 5px;
    line-height: 2;
    list-style: none;
    color: $gray;
    code {
      background-color: $black;
      color: $white;
      padding: 2px 8px;
      border-radius: 4px;
    }
    &::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23EF3340' d='M3.8 10.8l7-7L12.3 5l-7.1 7z'/%3E%3Cpath fill='%23EF3340' d='M5.2 3.8l7 7-1.4 1.5-7-7z'/%3E%3C/svg%3E");
      content: "";
      width: 16px;
      height: 16px;
      display: inline;
      vertical-align: middle;
      color: $primary-color;
      padding-right: 15px;
      margin-right: 5px;
    }
  }

  ul, ol {
    padding-left: 0;
  }
}
