<header class="header--main">

	<div class="wrap grid__2-col">

		{% if site.data.settings.header_settings.logo_image %}
		<a href="{{ site.baseurl }}/" class="header__logo">
			<img src="{{ site.data.settings.header_settings.logo_image | relative_url }}" class="header__logo__img">
		</a>
		{% else %}
		<a href="{{ site.baseurl }}/" class="header__title">
			{{ site.data.settings.basic_settings.site_title }}
		</a>
		{% endif %}

		{% comment %}
		<div class="menu__toggle js-menu-toggle">
			<div class="menu__toggle__icon"><span></span></div>
		</div>

		<nav class="header__menu">
			<div class="menu__wrap">
				<ul class="menu__list">
					{% for item in site.data.settings.menu_settings.menu_items %}
					<li class="menu__list__item">
						<a href="{{ item.url | relative_url }}" class="menu__list__item__link button--text">{{ item.title }}</a>
					</li>
					{% endfor %}
					<li class="menu__cta">
						<a href="#" class="menu__cta__link button--text contact-trigger js-contact">Get In Touch</a>
					</li>
				</ul>
			</div>
		</nav>
		{% endcomment %}

		<a href="https://www.google.com/search?sxsrf=ALeKk02jeVvv1nKpWnePwkwkLRbyB20P-A%3A1582748585756&ei=qdNWXo7oLY22ggeCnYPgBg&q=awwwry&oq=awwwry&gs_l=psy-ab.3..35i39l2j0i13l8.8581.8789..9030...1.0..0.129.348.0j3......0....1..gws-wiz.......0i10j0i7i30.vHu4s1kwH3Y&ved=0ahUKEwjO4OP5hfDnAhUNm-AKHYLOAGwQ4dUDCAo&uact=5" class="header__cta button--fill">Find Me Online</a>
	</div>

</header>