<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Yo! I'm Ary 👋</h2>

      <p class="subtitle subtitle--light">An American-Indonesian from Los Angeles, California.</p>

      <p>During business hours, I'm a product designer and developer for advertising agencies, automotive businesses, fashion brands, financial institutions and tech startups.</p>

      <p>After hours, I'm either dedicating my time to my adventure partner, bedroom lover and best homie, Alexandra, and our son, Arro, or working on my latest project, Candy.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Holler</a>
    </div>
  </div>
</section>