<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h2 class="title">Yo! I'm Ary 👋</h2>

      <p class="subtitle subtitle--light">An American-Indonesian from Los Angeles, California.</p>

      <p>During business hours, I'm a <strong>product designer and developer</strong> primarily for advertising agencies, automotive businesses, fashion brands, financial institutions and tech startups.</p>

      <p>After hours, I'm either dedicating my time to my adventure partner, bedroom lover and best homie, <strong>Alexandra</strong>, and our son, <strong>Arro</strong>, or working on my latest project, <a href="https://www.instagram.com/candymotor.co" target="_blank" title="Candy on Intagram">Candy.</a></p>

      <p>I'm around, if you need to holler:</p>

      {% include component-socials.html %}
    </div>
  </div>
</section>