// - - - - - - - - - - - - - - - - - -

// Single project

// - - - - - - - - - - - - - - - - - -

.page-project {
  @extend .page-post;

  .post__subtitle {
    font-family: $body-font;
    margin-bottom: 48px;
    max-width: 556px;
  }

  .post__content {
    hr {
      background-color: var(--accent);
    }

    blockquote {
      border-left-color: var(--accent);
    }

    table:not(.rouge-table) {
      border: 4px solid var(--accent);

      thead {
        background: var(--accent);
      }
    }

    .gallery--carousel .owl-dot.active::after {
      background: var(--accent);
    }

    a {
      
      img {
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        border-radius: 8px;
      }

    }
  }

  @include mq(tabletp) {
    .post__subtitle {
      margin-bottom: 80px;
    }
  }
}

#page-project-listings {
  background: $background-alt-color;
  padding-top: 72px;
}