// *****************
// Color Variables
// *****************
$primary-color: #fc0; //#EF3340;
$secondary-color: #94ad7e;
$dark: #222;
$gray: #aaa;
$gray-dark: #888;
$gray-medium: #d8d8d8;
$gray-white: #f8f8f8;
$gray-lighten: #c7d0e2;
$white: rgba(255, 255, 255, .9);
$black: rgba(0, 0, 0, .88);

// *****************
// Font Variables
// *****************
$monospace: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$code: 'Roboto Mono', monospace;
$sans-serif: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";