---
layout: default
---

{% if page.accent_color %}{% capture accent_color %}{{ page.accent_color }}{% endcapture %}{% endif %}

<div class="page-project" style="--accent: {{ accent_color }}">

	<header class="post__header header--single">

		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle subtitle--light">{{ page.subtitle }}</h2>
		</div>

		<img src="{{ '/images/projects/' | relative_url}}{{ page.featured_image }}" class="post__featured-image">

	</header>


	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</article>
			
		</div>

	</section>

	{% comment %}
	{% include section__about.html divider=true %}
	{% endcomment %}
</div>

<section id="page-project-listings" class="listing">
	<div class="wrap">

		<h2>List of Work</h2>

		{% for project in site.projects reversed %}

		{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

		<article class="project__preview">
			<h4 class="project__title"><a href="{{ project.url | relative_url }}" style="--accent: {{ accent_color }}">{{ project.title }}</a></h3>

			<div class="project__images owl-carousel" style="--accent: {{ accent_color }}">
				{% for image in project.gallery_images %}
				<a href="{{ project.url | relative_url }}"><img src="{{ '/images/projects/' | relative_url}}{{ image }}" alt="" class="project__image"></a>
				{% endfor %}
			</div>

			<div class="project__content grid" style="border-color: {{ accent_color }}">
				<p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
				<p class="project__description --small">
					{{ project.description }}
					<br>
					<a href="{{ project.url | relative_url }}" class="project__link button--fill --right"
						style="color: {{ accent_color }}; --color-var: {{ accent_color }}">View Work</a>
				</p>
			</div>
		</article>

		{% endfor %}
	</div>
</section>
	
<section class="recent-posts">
	<div class="wrap grid">
		<header class="recent-posts__header">
			<h3>Recent posts</h3>
			<a href="{{ '/blog' | relative_url }}" class="action button--text --right">All Posts</a>
		</header>

		<div class="recent-posts__list grid">
			{% for post in site.posts limit: 3 %}
			{% include component__post-preview.html %}
			{% endfor %}
		</div>

		<a href="{{ '/blog' | relative_url }}" class="action-bottom button--text --right">All Posts</a>
	</div>
</section>